API_GATEWAY_KEY=<your API key goes here>
TAVILY_API_KEY=<Optional: Tavily API Key>
SQL_URL=postgresql://postgres:humanafterall@localhost:5432/reviews_db
NGROK_AUTHTOKEN=<Optional: NGROK Token>
LANGSMITH_API_KEY=<Optional Langsmit Key>